<?xml version="1.0" encoding="UTF-8"?>
<config>
    <ice-storm>
        <ip>192.168.3.226</ip>
        <port>10000</port>
    </ice-storm>
    <off-ice>
        <ip>192.168..3.235</ip>
        <port>10002</port>
    </off-ice>
    <self-ice>
        <ip>192.168.3.25</ip>
        <port>10008</port>
    </self-ice>
</config>
